# Pinecone rag/services/pineconeService.ts
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_NAMESPACE=

# OpenAI
OPENAI_API_KEY=
OPENAI_MAX_RETRIES=3
OPENAI_MAX_CONCURRENCY=5
OPENAI_TIMEOUT=30000
# Embedding rag/services/openAIService.ts
EMBEDDING_MODEL_NAME=text-embedding-3-small

WEAVIATE_API_KEY=
RAG_FOLDER_PATH=C:\hapus\upwork\rag-systems\rag\rag\pipeline

# Chunking rag/chunking/TokenChunker.ts
CHUNK_MAX_TOKENS=100

# Query rag/querying/QueryEngine.ts
QUERY_TOP_K=5

# Text Splitter rag/utils/textSplitter.ts
TEXT_SPLITTER_CHUNK_SIZE=1000
TEXT_SPLITTER_CHUNK_OVERLAP=200
